<div class="bg-img">
<div class="vh-100 d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="card bg-white">
          <div class="card-body p-5">
            <form
              class="mb-3 mt-md-2 "
              [formGroup]="formdata"
              (ngSubmit)="submitTheRequest(formdata.value)">
               <h2 class="fw-bold mb-2 text-uppercase ">ALBUM</h2>
              <p class="mb-5">Please add your album !</p>
              <div class="mb-3" class="form-group my-1">
                <label class="form-label" >Album Name : </label>
                <input
                  type="text"
                  formControlName="discription"
                  class="form-control"
                />
                <div >
                  <small class="text-danger" >
                    name is required
                  </small>
                  <small >
                    name must also contains only capital and small characters
                  </small>
                  <small
                    class="text-danger"

                  >
                    name must have at least 3 characters
                  </small>
                  <small

                  >
                    name must have at most 50 characters
                  </small>
                </div>
              </div>
              <div class="mb-3">
                <label>Release Date :</label>
                <input
                  type="date"
                  formControlName="date"
                  class="form-control"
                />
                <div>
                  <small
                    class="text-danger"
                  >
                    Release Date is required
                  </small>
                </div>
              </div>

                 <input
                type="submit"

                class="btn btn-dark btn-lg w-100"
                value="ADD"
              />
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div> 
 <!-- <h1 *ngFor="let item of helperRequests">{{item.date}}</h1> -->
